
{% extends 'base.html.twig' %}

{% block title %}page de connexion{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block body %}
    <div id="login-widht">
        <div id="login">
            <div class="container">
                <form id="register-form" class="form" action="" method="post">
                    <h3>Créer votre compte</h3>
                    <div class="form-group" >
                        <label for="username" class="text-info">Adresse email *</label><br>
                        <input type="email" name="username" id="username" class="form-control" required="required"/>
                    </div>
                    <div class="form-group" >
                        <label for="username" class="text-info">Nom d'utilisateur *</label><br>
                        <input type="text" name="username" id="username" class="form-control" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-info">Mot de passe *</label><br>
                        <input type="password" name="password" id="password" class="form-control" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-info">Confirmation du mot de passe *</label><br>
                        <input type="password" name="password" id="password" class="form-control" required="required"/>
                    </div>
                    <div class="form-submit ">
                        <input type="submit" name="submit" value="Valider">
                    </div>
                    <div id="register-link">
                        <input type="button" onclick="window.location.href = 'connexion';" value="Se connecter" class="form-button-idenf text-info"/>
                        <input type="button" value="S'identifier" class="form-button-connect text-info"/>
                    </div>
                </form>
            </div>
            <div class="container_photo">
                <img src="{{ asset('images/logo.png') }}">
            </div>
        </div>
    </div>


{% endblock %}